
<!-- weird stuff -->
<div id="ip-container" class="ip-container container-fluid">

  <!-- initial header -->
  <header class="ip-header">
      <div class="ip-inner">
        <h3 class="ip-logo">BREW ORIGINS LA</h3>
      </div>

    <div class="ip-loader">
      <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      </svg>
    </div>
  </header>

  <!-- main content -->
  <div class="ip-main">
  <video autoplay loop id="video-background">
    <source src="https://09-lvl3-pdl.vimeocdn.com/01/4310/3/96550232/257249138.mp4?expires=1461203766&token=03a54daae97959d3a998fc#t=10,158" type="video/mp4">
  </video>

    <div class="row">
      <div class="col-md-12">
        <h1>H E Y T H E R E</h1>
        <h2>Here's to however you drink your first cup,</h2>
       <%= link_to new_user_path, :class => "links" do %>
          <h2>Click Here to Sign Up</h2>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_tag sessions_path do %>
        <div class="col-md-5 col-md-offset-1">
          <span class="input input--haruki" >
            <%= text_field_tag :email, params[:email], :class => "input__field input__field--haruki" %>
            <label class="input__label input__label--haruki">
              <span class= "input__label-content input__label-content--haruki">EMAIL</span>
            </label>
          </span>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <span class="input input--haruki">
            <%= password_field_tag :password, nil, :class => "input__field input__field--haruki" %>
            <label class="input__label input__label--haruki">
              <span class= "input__label-content input__label-content--haruki">PASSWORD</span>
            </label>
          </span>
        </div>
          <div class="actions"><%= submit_tag "submit", :style => "display:none" %></div>
        <% end %>
        <p id="alert" class="notices"><%= alert %></p>
        <p id="alert" class="notices"><%= notice %></p>
      </div>
    </div>
  </div>
</div><!-- /container -->
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'landing' %>

<%= javascript_include_tag :modernizr %>
<%= javascript_include_tag 'landing' %>
