<h1 class="adminstyle">BREW ORIGENS ADMIN</h1>
<p id="alert"><%= notice %></p>


<h2><%= link_to 'ADD SOME SHIT', new_roast_path %></h2>

<h2>EDIT THIS SHIT</h2>

<div class="container-fluid">
  <div class="row">
  <% @roasts.each do |roast| %>
  <%= link_to edit_roast_path(roast.id) do %>
    <div class=" col-md-3">
      <h3><%= roast.name %></h3>
      <h6><%= roast.roaster %></h6>
      <img class="dumbnail" src= <%= roast.content_img %>>
  </div>
  <% end %>
  <% end %>
  </div>
</div>
