<h1 class="adminstyle"><%= link_to "ROASTS#EDIT", adminindex_roasts_path, :class => "links" %></h1>


<h2><%= @roast.name %></h2>
<h3><%= @roast.roaster %></h3>
<img src= <%= @roast.content_img %>>

<%= form_for @roast do |roast| %>
  <% if @roast.errors.any? %>
    <div class="error_messages">
      <h3>Form Incomplete!</h3>
      <ul>
        <% for message in @roast.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= roast.label :name %>
    <%= roast.text_field :name %>
  </div>
  <div class="field">
    <%= roast.label :roaster %>
    <%= roast.text_field :roaster %>
  </div>
  <div class="field">
    <%= roast.label :brand_icon_img %>
    <%= roast.text_field :brand_icon_img %>
  </div>
  <div class="field">
    <%= roast.label :content_img %>
    <%= roast.text_field :content_img %>
  </div>
  <div class="field">
    <%= roast.label :price %>
    <%= roast.text_field :price %>
  </div>
  <div class="actions"><%= roast.submit %></div>
<% end %>
        <div><%= link_to "delete", roast_path(@roast.id), data: {:confirm => 'Are you sure?'}, :method => :delete %></div>

