<%= stylesheet_link_tag 'roasts' %>
<%= javascript_include_tag 'roast' %>
<%= javascript_include_tag :modernizr %>

<p id="alert"><%= notice %></p>
<div><%= link_to "see people", users_path %></div>
<div class="containerroast">
  <div class="main">
    <div id="mi-slider" class="mi-slider">
      <nav>
        <a href="#" class="mi-selected">The Alphas</a>
        <a href="#">Flavor</a>
        <a href="#">Originality</a>
        <a href="#">Aroma</a>
        <a href="#">Roast</a>
        <a href="#">The People's Choice</a>
      </nav>
      <ul class="mi-current">
      <% Roast.all.sort_by(&:average_overall_rating).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
      <ul>
      <% Roast.all.sort_by(&:average_panels_flavor_ratings).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
      <ul>
      <% Roast.all.sort_by(&:average_panels_originality_ratings).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
      <ul>
      <% Roast.all.sort_by(&:average_panels_aroma_ratings).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
      <ul>
      <% Roast.all.sort_by(&:average_panels_roast_ratings).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
      <ul>
      <% Roast.all.sort_by(&:average_regular_ratings).reverse!.first(3).each  do |roast| %>
        <li>
          <a href="#">
            <%= link_to roast_path(roast.id) do %>
              <img class="sliderimg" src=<%= roast.content_img %>>
            <% end %>
            <h4 class="slidertext">
              <%= roast.name %>
            </h4>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
