<h1 class="adminstyle"><%= link_to "ROASTS#NEW", adminindex_roasts_path, :class => "links" %></h1>

<h2>New Hype</h2>

<div class="container-fluid">
  <div class="row">
  <%= bootstrap_form_for @roast do |roast| %>
    <% if @roast.errors.any? %>
      <div class="col-md-12 error_messages">
        <h3>Form Incomplete!</h3>
        <ul>
          <% for message in @roast.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-4">
      <div class="field">
        <%= roast.text_field :name %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= roast.text_field :roaster %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= roast.text_field :brand_icon_img %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= roast.text_field :content_img %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= roast.text_field :price %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="actions">
        <%= roast.submit %>
      </div>
    </div>
  <% end %>
  </div>

</div>
